/.vs
NonVoid2/NonVoid2/obj/Debug/net8.0/NonVoid2.sourcelink.json
NonVoid2/NonVoid2/obj/Debug/net8.0/NonVoid2.csproj.FileListAbsolute.txt
NonVoid2/NonVoid2/obj/Debug/net8.0/NonVoid2.csproj.CoreCompileInputs.cache
