/.vs
/NonVoid2
/NonVoid2
NonVoid2/NonVoid2/obj/Debug/net8.0/NonVoid2.AssemblyInfoInputs.cache
NonVoid2/NonVoid2/obj/Debug/net8.0/NonVoid2.AssemblyInfo.cs
NonVoid2/NonVoid2/obj/Debug/net8.0/NonVoid2.AssemblyInfo.cs
NonVoid2/NonVoid2/obj/Debug/net8.0/NonVoid2.AssemblyInfoInputs.cache
NonVoid2/NonVoid2/obj/Debug/net8.0/NonVoid2.GeneratedMSBuildEditorConfig.editorconfig
